Package: com.clarityzzz.fuckdonalds
Name: FuckDonalds
Depends: mobilesubstrate, firmware (>= 10.0)
Priority: optional
Version: 0.1
Architecture: iphoneos-arm
Description: Fuckdonalds
Maintainer: Clarity <clarityzzz@clarityzzz.com>
Author: Clarity <clarityzzz@clarityzzz.com>
Section: Tweaks
