Package: com.clarityzzz.fuckdonalds
Name: FuckDonalds
Depends: mobilesubstrate, firmware (>= 10.0)
Priority: optional
Version: 0.2
Architecture: iphoneos-arm
Description: Fuckdonalds
Maintainer: Clarity & Tr1Fecta
Author: Clarity & Tr1Fecta
Section: Tweaks
